{% extends 'proposal/base.html' %}

{% block header %}
    <h1 class="text-center my-5">Register</h1>
{% endblock %}

{% block body %}
    <div class="register">
        <form class="mb-5" method="post" action="{% url 'proposal_register' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="btn btn-primary mt-4" type="submit" value="Register" />
        </form>
        <small>Already have an account? <a href="{% url 'proposal_login' %}">Login now.</a></small>
    </div>
{% endblock %}