@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');


.login, .register{
    width: 25vw;
    margin: 0 auto;
}

.navbar{
    background-color: #fff591;
    font-family: 'Francois One';
    font-size: 20px;
}
.text-center{
    font-family: 'Francois One';
}

.btn{
    background-color: #071e3d;
    color: white;
    margin-left: 50px;
}

.table{
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    width:1200px!important;
}


